---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '../styles/global.css';
import { SITE_TITLE } from '../consts';

interface Props {
	title: string;
	description: string;
	image?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description, image = '/blog-placeholder-1.jpg' } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="sitemap" href="/sitemap-index.xml" />
<link
	rel="alternate"
	type="application/rss+xml"
	title={SITE_TITLE}
	href={new URL('rss.xml', Astro.site)}
/>
<meta name="generator" content={Astro.generator} />

<!-- Font preloads -->
<link rel="preload" href="/fonts/atkinson-regular.woff" as="font" type="font/woff" crossorigin />
<link rel="preload" href="/fonts/atkinson-bold.woff" as="font" type="font/woff" crossorigin />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />

<!-- HTML Meta Tags -->
<title>Neuralcodelab Blog</title>
<meta name="description" content="Bienvenido al blog de Neuralcodelab!">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://blog.neuralcodelab.com/">
<meta property="og:type" content="website">
<meta property="og:title" content="Neuralcodelab Blog">
<meta property="og:description" content="Bienvenido al blog de Neuralcodelab!">
<meta property="og:image" content="https://opengraph.b-cdn.net/production/images/0d288b46-f6fb-4a06-ad06-c554e680d818.png?token=6oDtURhE6IGGLD5Mj9aqkNVt5y929iZHwiWERPzg7AI&height=576&width=1200&expires=33279364724">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="blog.neuralcodelab.com">
<meta property="twitter:url" content="https://blog.neuralcodelab.com/">
<meta name="twitter:title" content="Neuralcodelab Blog">
<meta name="twitter:description" content="Bienvenido al blog de Neuralcodelab!">
<meta name="twitter:image" content="https://opengraph.b-cdn.net/production/images/0d288b46-f6fb-4a06-ad06-c554e680d818.png?token=6oDtURhE6IGGLD5Mj9aqkNVt5y929iZHwiWERPzg7AI&height=576&width=1200&expires=33279364724">

<!-- Meta Tags Generated via https://www.opengraph.xyz -->
